		   <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                        About Us
                    </li>
               </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
		   </div>
		  <div class="grid_1">
		   <div class="col-md-4 box7">
		   	  <img src="images/s5.jpg" class="img-responsive" alt=""/>
		   	  <h3>Lorem Ipsum Dolor sit</h3>
		   	  <p>Proin posuere aliquam neque eu lobortis. Donec lorem nunc, scelerisque eu congue at, iaculis ut massa. Ut quis risus ac lectus luctus maximus vel et tellu.</p>
		      <h4>Donec lorem nunc</h4>   
	          <p>Sed condimentum nulla eu diam bibendum, et elementum dui euismod. In mattis nunc ornare lectus pellentesque, ac pellentesque enim gravida. Donec et purus libero. Morbi at dolor at leo pulvinar interdum. Sed et nisi cursus,</p>	   
	          <ul class="column_center">
				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				<li><a href="#">Conse ctetur adipisicing elit sed</a></li>
				<li><a href="#">Do eiusmod tempor</a></li>
				<li><a href="#">Incididunt ut labore et dolore</a></li>
			 </ul>	   
		   </div>
		   <div class="col-md-4 box7">
		   	  <img src="images/s1.jpg" class="img-responsive" alt=""/>
		   	  <h3>Lorem Ipsum Dolor sit</h3>
		   	  <p>Proin posuere aliquam neque eu lobortis. Donec lorem nunc, scelerisque eu congue at, iaculis ut massa. Ut quis risus ac lectus luctus maximus vel et tellu.</p>
		      <h4>Donec lorem nunc</h4>   
	          <p>Sed condimentum nulla eu diam bibendum, et elementum dui euismod. In mattis nunc ornare lectus pellentesque, ac pellentesque enim gravida. Donec et purus libero. Morbi at dolor at leo pulvinar interdum. Sed et nisi cursus,</p>	   
		      <ol class="column_center1">
				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				<li><a href="#">Conse ctetur adipisicing elit sed</a></li>
				<li><a href="#">Do eiusmod tempor</a></li>
				<li><a href="#">Incididunt ut labore et dolore</a></li>
			  </ol>  
		   </div>
		   <div class="col-md-4 box7">
		   	  <img src="images/s6.jpg" class="img-responsive" alt=""/>
		   	  <h3>Lorem Ipsum Dolor sit</h3>
		   	  <p>Proin posuere aliquam neque eu lobortis. Donec lorem nunc, scelerisque eu congue at, iaculis ut massa. Ut quis risus ac lectus luctus maximus vel et tellu.</p>
		      <h4>Donec lorem nunc</h4>   
	          <p>Sed condimentum nulla eu diam bibendum, et elementum dui euismod. In mattis nunc ornare lectus pellentesque, ac pellentesque enim gravida. Donec et purus libero. Morbi at dolor at leo pulvinar interdum. Sed et nisi cursus,</p>	   
		      <p class="m_1">Proin posuere aliquam neque eu lobortis. Donec lorem nunc, scelerisque eu congue at, iaculis ut massa. Ut quis risus ac lectus luctus maximus vel et tellu.</p>
		   </div>
		   <div class="clearfix"> </div>
		 </div>
		 <div class="grid_2">
		 	<h3>Contrary to popular belief,</h3>
 		 	<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
            <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself</p>		 
		 </div>
	  </div>
	 <div class="clearfix"> </div>
</div>   	
</div>   
<div class="footer">
	<div class="container">
		<img src="images/f_logo.png" alt=""/>
		<p><a href="mailto:info@mycompany.com">info(at)suity.com</a></p>
		<div class="copy">
			<p>© 2015 All Rights Reseverd Template by <a href="http://w3layouts.com/">W3layouts</a> </p>
		</div>
		<ul class="social">
		  <li><a href="#"> <i class="fb"> </i> </a></li>
		  <li><a href="#"> <i class="tw"> </i> </a></li>
		</ul>
	</div>
</div>
</body>
</html>		